/* layout -------------------------------- */
#slotMachine_wrap {
  display: flex;
  flex-direction: column; /* 한 줄에 하나씩 배치 */
  justify-content: center;
  align-items: center; /* 세로 방향 가운데 정렬 */
  padding-top: 60px;
}
#slotMachine_wrap.win {
  /* background-image: url("../image/win.png"); */
}
ul#machine {
  width: 360px;
  padding: 15px 30px;
  outline: 2px solid #ffbd2f;

  border-radius: 50px 50px 6px 6px;
  border-bottom: 18px solid #ffbd2f;
  border-right: 12px solid #ffbd2f;
  background-color: #ffd988;
}

div#machine_lever {
  display: flex;
  padding-right: 30px;
}
.box {
  width: 180px;
  height: 75px;
}
.handle {
  width: 120px;
  height: 75px;
}
#machine .win-light {
  display: flex;
}
#machine .win-light {
  text-align: center;
  height: 90px;
  font-weight: 900;
  padding-top: 15px;
  font-size: 60px;
  color: #d4a848;
}
#machine .reels {
  height: 120px;
  /* outline: 1px solid red; */
}
#machine .btns {
  height: 90px;
  padding-top: 21px;
}

/* detail -------------------------------- */
#machine .win-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#machine .win-light span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d2b169;
}
#machine .win-light.win {
  color: rgb(250, 87, 69);
}
#machine .win-light.win span.odd {
  background-color: #e46ffb;
}
#machine .win-light.win span.even {
  background-color: rgb(35, 209, 157);
}
.reels > ul {
  display: flex;
  justify-content: space-between;
}
.reels > ul > li.reel {
  outline: 2px solid #d49818;
  height: 115px;
  width: 90px;
}
ul.symbol {
  display: none;
  outline: 2px solid ffbd2f;
  display: flex;
  flex-flow: wrap;
  position: relative;
}
ul.symbol li {
  width: 90px;
  height: 115px;
  background-color: rgb(194, 149, 110);
  background-size: cover; /* 비율 유지하며 요소를 완전히 덮음 */
  background-repeat: no-repeat; /* 반복 방지 */
  background-position: center; /* 중앙 정렬 */
}

ul.symbol li {
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover; /* 비율 유지하며 요소를 완전히 덮음 */
  background-repeat: no-repeat; /* 반복 방지 */
  background-position: center; /* 중앙 정렬 */
}

ul.symbol li.cherry {
  background-image: url("../image/cherry.png");
}
ul.symbol li.lemon {
  background-image: url("../image/lemon.png");
}
ul.symbol li.seven {
  background-image: url("../image/seven.png");
}
ul.symbol li.seek {
  background-image: url("../image/seek.png");
}

.btns > ul {
  display: flex;
  justify-content: space-between;
}
.btns > ul li.btn {
  width: 90px;
  height: 60px;
  cursor: pointer;
  border-radius: 12px;
  background-color: #fe7964;
  border-bottom: 9px solid #e95038;
  border-right: 9px solid #e95038;
}
.btns > ul li.btn:hover {
  background-color: #e94a32;
  border-bottom: 5px solid #c1321c;
  border-right: 5px solid #c1321c;
}

#machine_lever {
}

.handle {
  background-color: #ff7644;
  border-top: 9px solid #f56410;
  border-right: 9px solid #eb6314;
  border-radius: 12px 12px 0px 0px;
}

.handle:hover {
  cursor: pointer;
  /* height: 90%; */
  background-color: #fb6a16;
  border-top: 5px solid #ca4f08;
  border-right: 5px solid #ca4f08;
}
